# default
**/_obsolete
**/dump
**/.ipynb_checkpoints
**/*nohup*
**/.cif*
**/.pdb*

# files
scripts/merge_sdf.log
scripts/openmm_implicit_minimizer.sh
data/bpcatalog/*/*.pdb*
mols.sdf

# additional directories
minimized
pdb